{% extends "base.html" %}

{% block main %}

  <section class="py-5 container">
    <div class="row">
        <h1>Order print</h1>
    </div>
  </section>


  <div class="py-5 bg-light">
    <div class="container">

    <p>You are ordering:</p>

    <img src="{{ url_for('static', filename='images/' ~ photo.filename) }}" height="225">

    <br><br>

    <form>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Order</button>
    </form>

    </div>
  </div>
{% endblock %}
